
<section style="height:100vh;" ng-init="init()" class="flex-column-center">
  WELCOME TO STUDENTS LIST PAGE


  <div style="margin-top:40px;">
  		<div style="margin-top:4px;">
  			<a href="/#/students-report/student1">student1</a>
  		</div>
  		<div style="margin-top:4px;">
  			<a href="/#/students-report/student2">student2</a>
  		</div>
  		<div style="margin-top:4px;">
  			<a href="/#/students-report/student3">student3</a>
  		</div>
  		<div style="margin-top:4px;">
  			<a href="/#/students-report/student4">student4</a>
  		</div>

  </div>
</section>